
*.spec
*.html
*.txt
*.toc
*.zip
*.pkg
__pycache__/project_counter_GUI.cpython-37.pyc
build/project_counter_GUI/project_counter_GUI.exe.manifest
build/project_counter_GUI/PYZ-00.pyz
dist/FL Hour Calculator.exe
dist/project_counter_GUI.exe
v4 FL/NewStuff.flp
v10 FL/bwum.flp
v12 FL/NewStuff (1).flp
v8 FL/Zircon - Just Hold On.flp
dist/FLcounter.exe
v12 FL/NewStuff (2).flp
tests/untitled.flp
dist/FL Counter.exe
build/windows/PYZ-00.pyz
build/windows/localpycs/struct.pyc
build/windows/localpycs/pyimod04_pywin32.pyc
build/windows/localpycs/pyimod03_ctypes.pyc
build/windows/localpycs/pyimod02_importers.pyc
build/windows/localpycs/pyimod01_archive.pyc
pyflp/__pycache__/__init__.cpython-310.pyc
pyflp/__pycache__/_adapters.cpython-310.pyc
pyflp/__pycache__/_descriptors.cpython-310.pyc
pyflp/__pycache__/_events.cpython-310.pyc
pyflp/__pycache__/_models.cpython-310.pyc
pyflp/__pycache__/arrangement.cpython-310.pyc
pyflp/__pycache__/channel.cpython-310.pyc
pyflp/__pycache__/exceptions.cpython-310.pyc
pyflp/__pycache__/mixer.cpython-310.pyc
pyflp/__pycache__/pattern.cpython-310.pyc
pyflp/__pycache__/plugin.cpython-310.pyc
pyflp/__pycache__/project.cpython-310.pyc
pyflp/__pycache__/timemarker.cpython-310.pyc
pyflp/__pycache__/types.cpython-310.pyc
pyflp/__pycache__/__init__.cpython-310.pyc
pyflp/__pycache__/_adapters.cpython-310.pyc
pyflp/__pycache__/_descriptors.cpython-310.pyc
pyflp/__pycache__/_events.cpython-310.pyc
pyflp/__pycache__/_models.cpython-310.pyc
pyflp/__pycache__/arrangement.cpython-310.pyc
pyflp/__pycache__/channel.cpython-310.pyc
pyflp/__pycache__/exceptions.cpython-310.pyc
pyflp/__pycache__/mixer.cpython-310.pyc
pyflp/__pycache__/pattern.cpython-310.pyc
pyflp/__pycache__/plugin.cpython-310.pyc
pyflp/__pycache__/project.cpython-310.pyc
pyflp/__pycache__/timemarker.cpython-310.pyc
pyflp/__pycache__/types.cpython-310.pyc
pyflp/__pycache__/__init__.cpython-310.pyc
pyflp/__pycache__/_adapters.cpython-310.pyc
pyflp/__pycache__/_descriptors.cpython-310.pyc
pyflp/__pycache__/_events.cpython-310.pyc
pyflp/__pycache__/_models.cpython-310.pyc
pyflp/__pycache__/arrangement.cpython-310.pyc
pyflp/__pycache__/channel.cpython-310.pyc
pyflp/__pycache__/exceptions.cpython-310.pyc
pyflp/__pycache__/mixer.cpython-310.pyc
pyflp/__pycache__/pattern.cpython-310.pyc
pyflp/__pycache__/plugin.cpython-310.pyc
pyflp/__pycache__/project.cpython-310.pyc
pyflp/__pycache__/timemarker.cpython-310.pyc
pyflp/__pycache__/types.cpython-310.pyc
