
*.spec
*.html
*.txt
*.toc
*.zip
*.pkg
__pycache__/project_counter_GUI.cpython-37.pyc
build/project_counter_GUI/project_counter_GUI.exe.manifest
build/project_counter_GUI/PYZ-00.pyz
dist/FL Hour Calculator.exe
dist/project_counter_GUI.exe
v4 FL/NewStuff.flp
v10 FL/bwum.flp
v12 FL/NewStuff (1).flp
v8 FL/Zircon - Just Hold On.flp
dist/FLcounter.exe
v12 FL/NewStuff (2).flp
tests/untitled.flp
pyflp/__pycache__/__init__.cpython-310.pyc
*.pyc
*.pyc
*.pyc
*.pyz
*.exe
